ul li {
  cursor: pointer;
}
.footer {
  background: #f0f0f0;
}
.shop_co {
  color: #000;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: Integral CF;
  font-size: 33.455px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.shop_co_span {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.company {
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.line {
  width: 1240px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.shop_co {
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 800px) {
  .line {
    width: 100%;
  }
}
