.card_client {
  display: flex;
  width: 100px;
  height: 340px;
  padding: 28px 32px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px 342px;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sarah_ {
  color: #000;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
}
.our_clients {
  color: #000;
  font-family: Integral CF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.slick-slide > div {
  margin: 0 10px;
  height: 200px;
}
.our_clients {
  color: #000;
  font-family: Integral CF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
  color: #000;
  font-family: Integral CF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
}
