.line_ {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.write_a_review {
  display: flex;
  width: 166px;
  height: 48px;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 62px;
  background: #000;
  color: #fff;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card_ {
  display: flex;
  width: 540px;
  padding: 28px 32px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px 342px;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.samantha_d {
  color: #000;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
}
.reviews_div {
  color: rgba(0, 0, 0, 0.6);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.more_ {
  cursor: pointer;
}
.load_more_button {
  display: flex;
  width: 230px;
  height: 52px;
  padding: 16px 54px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 62px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
