.card_client {
  display: flex;
  width: 400px;
  height: 240px;
  padding: 28px 32px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px 342px;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sarah_ {
  color: #000;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
}
.our_clients {
  color: #000;
  font-family: Integral CF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* @media screen and (max-width: 800px) {
  .card_client {
    width: 210px;
    height: auto;
    padding: ;
  }
} */
